* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.header-pizza {
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.nav-pizza {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo-pizza h1 {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
}

.logo-pizza a{
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
}

.nav-links a:hover {
  color: tomato;
}

#hero-pizza {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0, .80), rgba(0,0,0, .50)), url(img-pizza/pizza-hero.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#hero-pizza h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#hero-pizza p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-ver {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.btn-ver:hover {
  scale: 1.05;
  background-color: rgb(255, 87, 57);
  transition: 0.20s;
}

menu {
  padding-top: 90px;
}

.menu-pizza {
  padding: 4rem 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

.menu-pizza h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-crad {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.menu-crad:hover {
  scale: 1.02;
  transition: 0.20s;
}

.menu-crad img {
  width: 100%;
  border-radius: 10px;
}

.menu-crad h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #333;
}

.menu-crad p {
  font-size: 1rem;
  color: #666;
  padding-bottom: 1rem;
}

.desde {
  font-size: .8rem;
  color: #333;
}

.precio {
  font-size: 2rem;
  color: rgb(255, 68, 35);
  font-weight: bold;
  padding-left: .5rem;
}

#contacto {
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 2rem;
  width: 100%;
}

.contacto-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content h3 {
  margin-top: 2.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.socials {
  padding-top: 1rem;
  display: grid;
  padding-right: 7rem;
  list-style: none;
  gap: .5rem;
}

.socials-link a {
  color: white;
  text-decoration: none;
}

.socials-link a:hover {
  color: tomato;
  transition: 0.20s;
}

.footer-copy {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

@media (max-width: 430px) {
  .header-pizza {
    position: static;
    background-color: black;
  }

  .nav-pizza {
    display: flex;
    flex-direction: column;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin: 1rem 0;
  }

  .socials {
    padding:  0 0 0 5rem ;
  }
}